openapi: 3.0.1

info:
  title: ainize-color-transfer-swagger
  description: | 
    `color_transfer` package transfer source image's color to target image super fast.

    You can test color transfer operation in API or **[Web Server](https://ainize-color-transfer-woomurf.endpoint.ainize.ai/)** using this API.
    
    ---
    
      How to use:
      * Select a Color source image 
      * Select a Base image 
      * Execute and wait little time

  version: 0.1
  license: 
    name: "MIT"

servers:
  - url: https://ainize-color-transfer-woomurf.endpoint.ainize.ai/

paths:
  /transfer:
    post:
      requestBody:
        required: true
        description: "Transfer color from [Color source image](https://raw.githubusercontent.com/woomurf/ainize-color-transfer/master/images/autumn.jpg) to [Base image](https://raw.githubusercontent.com/woomurf/ainize-color-transfer/master/images/fallingwater.jpg)"
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                color_source:
                  type: string
                  format: binary
                base:
                  type: string
                  format: binary
            
            encoding:
              files:
                contentType: image/*
      
      responses:
        '200':
          descrition: success
          content:
            images/*:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        
        '500':
          description: Server side error