<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Color Transfer</title>    

        <style>
            .img{
                height: 250px;
            }
        </style>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">
                
                <h1>Color Transfer</h1>
                <A>Git Hub repository : </A> <A href="https://github.com/woomurf/ainize-color-transfer"> color-transfer</A>
                <br>
                <A>Testing API : </A> <A href="https://ainize.ai/woomurf/ainize-color-transfer"> on Ainize </A>

                <hr class="solid">
                
                <div id="sampleBox">
                    <h2>Example</h2>
                    <img class="img" src="https://raw.githubusercontent.com/woomurf/ainize-color-transfer/master/images/autumn.jpg" alt="sample_color_source">
                    <img class="img" src="https://raw.githubusercontent.com/woomurf/ainize-color-transfer/master/images/fallingwater.jpg" alt="sample_base">
                    <img class="img" src="https://raw.githubusercontent.com/woomurf/ainize-color-transfer/master/images/autumn_fallingwater.jpeg" alt="sample_result">
                </div>
                <br>
                <h2>Upload </h2>
                <div id = 'inputImage'>
                    <label for="source">Color source image : </label>
                    <input type = 'file' id = 'source' style="margin-right: 10px; margin-bottom: 10px;">
                    <label for="target">Base image : </label>
                    <input type = 'file' id = 'target' style="margin-right: 10px; margin-bottom: 10px;">
                    <button id = "submit" type='submit' class="btn btn-primary btn-lg" style="margin-left: auto;"> Run </button>
                </div>
                
                <div id ='resultBox' style="margin-left: auto; margin-right: auto;">
                    <p id='errorbox'></p>
                    <img id='resultImage' src="" alt="">
                </div>
                <script>
                    document.getElementById("submit").onclick = () => {
                        var formData = new FormData();
                        var source = document.getElementById('source').files[0]
                        var target = document.getElementById('target').files[0]
                        
                        formData.append('color_source', source)
                        formData.append('base', target)
        
                        fetch(
                            '/transfer',
                            {
                                method: 'POST',
                                body: formData,
                            }
                        )
                        .then(response => {
                            if ( response.status == 200){
                                return response 
                            }
                            else{
                                throw Error("transfer error")
                                
                            }
                        })
                        .then(response => response.blob())
                        .then(blob => URL.createObjectURL(blob))
                        .then(imageURL => {
                            document.getElementById("resultImage").src = imageURL;
                            document.getElementById("errorbox").innerHTML = "";
                        })
                        .catch(e =>{
                            document.getElementById("errorbox").innerHTML = e;
                        })
                    }

                </script>
            </div>
        </div>
    </body>
</HTML>

